html{
  overflow: hidden;
}

.main-container{
  display: flex;
  height: 100vh;
  
}

.welcome-img{
  width: 50%;
}

.login-btn{
  background-color: #EF6B4A;
  color: #FFF;
  border: 1px solid #EF6B4A;
  border-radius: 2px;
  padding: 10px;
}

.register-btn{
  background-color: #FFF;
  color: #6251DD;
  border: 1px solid;
  border-radius: 2px;
  padding: 10px;
  margin-top: 0.5rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 5rem;
  margin-right: 5rem;
}

.button-container{
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
  justify-content: center;
}

.welcome-section >p {
  color: rgba(9, 9, 55, 0.6)
}

.welcome-section > span{
  color: #090937;
}

.email-input{
  display: flex;
  flex-direction: column;
}

.email-input > p{
  line-height: 1px;
}
.password-input{
  display: flex;
  flex-direction: column;
}
.password-input >p{
  line-height: 1px;
}

.remember-me{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: 
  #6251DD;
}

::placeholder{
  color:rgba(9, 9, 55, 0.4)
}

input{
  padding: 0.5rem;
  height: 1rem;
  background-color: #F4F4FF;
  border: 1px solid #F4F4FF;
}